---
import "../styles/global.css";
import {
  Hero,
  Services,
  About,
  Portfolio,
  Testimonials,
  Contact,
  Footer,
} from "./sections";
---

<!-- Landing Page Components -->
<Hero />
<Services />
<div class="fade-in-up">
  <About />
</div>
<div class="fade-in-up">
  <Portfolio />
</div>
<div class="fade-in-up">
  <Testimonials />
</div>
<Contact />
<Footer />
